@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

// colors from https://www.sessions.edu/color-calculator/
// based on the ambientia red 'raspberry'
$raspberry: #ff2457;
$cyanide: #24ff99;
$bluesky: #248aff;
$grass: #57ff24; // bad contrast with white text
$yellowsnow: #ffe524;
$orangejuice: #ff7824;
$purplerain: #ff24c5;

// Update Bulma's global variables
$family-sans-serif: 'Raleway', sans-serif;
$primary: $cyanide;
$link: $bluesky;
$danger: $raspberry;
$warning: $yellowsnow;

// Update some of Bulma's component variables
$navbar-background-color: #ffffff00; // navbar background transparent

// Import all or just the modules you ended up using.
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
