.kettlebeach {
  background: url('./images/kettlebell_bg.png');
  background-size: cover;
  background-position: 70% 50%;
}

.blue-gradient {
  background: linear-gradient(344deg, rgba(36, 138, 255, 0.6) 0%, rgba(18, 69, 128, 0.6) 100%);
}

.blue-white-gradient {
  background: linear-gradient(11deg, rgba(36, 138, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.red-white-short-gradient {
  background: linear-gradient(180deg, rgba(255, 36, 87, 1) 0%, rgba(255, 36, 87, 0) 12%);
}

.is-fullheight {
  min-height: 100vh;
}

.is-clickable {
  cursor: pointer;
}

.hover-effect-dark:hover {
  background-color: #00000060;
  color: #ffffff !important;
}

.hover-effect-green:hover {
  background-color: #24ff9980;
}

.logobox-big {
  height: calc(70px + 6vw);
  margin: 6vh 0 1vh 0;
}

.logobox-small {
  height: calc(50px + 6vw);
  margin: 2vh 0 2vh 0;
}

.menurow-even {
  background-color: #0898cc;
}
.menurow-odd {
  background-color: #1088b3;
}
