.kettlebeach {
  background: url('./images/kettlebell_bg.png');
  background-size: cover;
  background-position: 70% 50%;
}

.blue-gradient {
  background: linear-gradient(344deg, rgba(36, 138, 255, 0.6) 0%, rgba(18, 69, 128, 0.6) 100%);
}

.blue-white-gradient {
  background: linear-gradient(11deg, rgba(36, 138, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.red-white-short-gradient {
  background: linear-gradient(180deg, rgba(255, 36, 87, 1) 0%, rgba(255, 36, 87, 0) 12%);
}

.red-circle-gradient {
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(255, 36, 87, 1) 10%,
    rgba(143, 21, 49, 1) 100%
  );
}

.red-circle-gradient:hover {
  background: radial-gradient(
    farthest-corner at 50px 50px,
    rgba(255, 36, 87, 1) 30%,
    rgba(143, 21, 49, 1) 100%
  );
}

.dark-cyan-gradient {
  background: linear-gradient(343deg, rgba(0, 186, 199, 1) 0%, rgba(10, 46, 71, 1) 100%);
}

.is-fullheight {
  min-height: 100vh;
}

.is-clickable {
  cursor: pointer;
}

.hover-effect-dark:hover {
  background-color: #00000060;
  color: #ffffff !important;
}

.hover-effect-grey:hover {
  background-color: #00000020;
}

.hover-effect-green:hover {
  background-color: #24ff9980;
}

.logobox-big {
  height: calc(70px + 6vw);
  margin: 6vh 0 6vh 0;
}

.logobox-small {
  height: calc(50px + 4vw);
  margin: 2vh 0 2vh 0;
}

.menurow-even {
  background-color: #0898cc;
}
.menurow-odd {
  background-color: #1088b3;
}

.react-calendar {
  width: 100%;
  border: 1px solid #ff2457;
  font-family: 'Raleway';
}

.highlighted-calendar-day {
  color: #ff2457;
  font-weight: 700;
  font-size: larger;
}

.ambientia-block {
  content: '';
  height: 7px;
  width: 33px;
  background: #ff2457;
  margin: 0.75em auto 0.5em;
}

.hover-svg-red:hover path,
.hover-svg-red:hover circle {
  fill: #ff2457;
}
